<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="SwitchId" value="8fdfbd6c-0a53-456a-86ed-aec8e71fea35" />
        <add key="AdministratorPCSPhoneNumber" value="6138666018" />
        <add key="AdministratorPCSNetwork" value="Rogers AT&amp;T Wireless" />
        <add key="SMTP" value="smtp1.istop.ca" />
        <!--
		<add key="WebServiceUrl" value="http://localhost/OrbisTelWebServices/"/>
		<add key="ConnectionString" value="DRIVER={MySQL ODBC 3.51 Driver};SERVER=localhost;DATABASE=orbistel;UID=root;Password=;OPTION=3" />
		<add key="WakeUpRemindersConnectionString" value="DRIVER={MySQL ODBC 3.51 Driver};SERVER=localhost;DATABASE=WakeUpReminderService;UID=root;Password=;OPTION=3" />
		<add key="LongDistanceConnectionString" value="DRIVER={MySQL ODBC 3.51 Driver};SERVER=localhost;DATABASE=freeLongDistanceService;UID=root;Password=;OPTION=3" />
		<add key="ConnectionString" value="DRIVER={MySQL ODBC 3.51 Driver};SERVER=orbistel.com;DATABASE=orbistelv2;UID=orbistel;Password=dempsey;OPTION=3" />
		<add key="WakeUpRemindersConnectionString" value="DRIVER={MySQL ODBC 3.51 Driver};SERVER=orbistel.com;DATABASE=WakeUpReminderService;UID=orbistel;Password=dempsey;OPTION=3" />
		<add key="LongDistanceConnectionString" value="DRIVER={MySQL ODBC 3.51 Driver};SERVER=orbistel.com;DATABASE=freeLongDistanceService;UID=orbistel;Password=dempsey;OPTION=3" />
		-->
        <add key="WebServiceUrl" value="http://orbistelwebservice.inaugura.ca/"/>
    </appSettings>   
</configuration>
