<?xml version="1.0" encoding="utf-8" ?>
<menu>
  <menuSpacer>
    <cssclass>SKMMainLeftEdge</cssclass>
  </menuSpacer>
  <menuSpacer>
    <cssclass>SKMMainFiller</cssclass>
  </menuSpacer>
  <menuSpacer>
    <cssclass>SKMMainSeparator</cssclass>
  </menuSpacer>
  <menuItem>
    <text>Au sujet De Nous</text>
    <url>~/About.aspx</url>
    <resolveurl>true</resolveurl>
    <cssclass>SKMMainItem</cssclass>
    <mouseovercssclass>SKMMainItemOver</mouseovercssclass>
    <subMenu>
      <menuItem>
        <text>Contactez-Nous</text>
        <url>~/About.aspx?target=contact</url>
        <resolveurl>true</resolveurl>
        <cssclass>SKMMenuItem</cssclass>
        <mouseovercssclass>SKMMenuItemOver</mouseovercssclass>
      </menuItem>
      <menuSpacer>
        <cssclass>SKMDropSeperator</cssclass>
      </menuSpacer>
      <menuSpacer>
        <cssclass>SKMBottomEdge</cssclass>
      </menuSpacer>
    </subMenu>
  </menuItem>
  <menuSpacer>
    <cssclass>SKMMainSeparator</cssclass>
  </menuSpacer>
  <menuItem>
    <text>Services</text>
    <url>~/Services.aspx</url>
    <resolveurl>true</resolveurl>
    <cssclass>SKMMainItem</cssclass>
    <mouseovercssclass>SKMMainItemOver</mouseovercssclass>
    <subMenu>
      <menuItem>
        <text>RealLeads</text>
        <url>~/Services.aspx?target=realleads</url>
        <resolveurl>true</resolveurl>
        <cssclass>SKMMenuItem</cssclass>
        <mouseovercssclass>SKMMenuItemOver</mouseovercssclass>
      </menuItem>
      <menuSpacer>
        <cssclass>SKMDropSeperator</cssclass>
      </menuSpacer>
      <menuSpacer>
        <cssclass>SKMBottomEdge</cssclass>
      </menuSpacer>
    </subMenu>
  </menuItem>
  <menuSpacer>
    <cssclass>SKMMainSeparator</cssclass>
  </menuSpacer>
  <menuItem>
    <text>Appui</text>
    <url>~/Support.aspx</url>
    <resolveurl>true</resolveurl>
    <cssclass>SKMMainItem</cssclass>
    <mouseovercssclass>SKMMainItemOver</mouseovercssclass>
  </menuItem>
  <menuSpacer>
    <cssclass>SKMMainSeparator</cssclass>
  </menuSpacer>
  <menuItem>
    <text>Rétroaction</text>
    <url>~/Feedback.aspx</url>
    <resolveurl>true</resolveurl>
    <cssclass>SKMMainItem</cssclass>
    <mouseovercssclass>SKMMainItemOver</mouseovercssclass>
  </menuItem>
  <menuSpacer>
    <cssclass>SKMMainSeparator</cssclass>
  </menuSpacer>
  <menuSpacer>
    <cssclass>SKMMainFiller</cssclass>
  </menuSpacer>
  <menuSpacer>
    <cssclass>SKMMainRightEdge</cssclass>
  </menuSpacer>
</menu>