<Switch id="8fdfbd6c-0a53-456a-86ed-aec8e71fea35" name="Test Switch">
	<ServiceManager>
		<Services>
      <!-- MyShield Stuff - Begin -->
			<Service type="OrbisTel.Services.MyShield.MyShieldService" id="MyShield" name="MyShield" importance="0" idealIdleSeconds="10" minimumLines="1" maximumLines="1" assembly="OrbisTel.Services.MyShield, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
				<ReservedLines />
				<FileReferenceList />
				<Details>
          <Detail key="LogOffCommand">*82#</Detail>
          <Detail key="LogOnCommand">*81,2222#</Detail>
				</Details>
			</Service>
      <!-- MyShield End -->
      <!--<Service type="OrbisTel.Services.RealLeads.RealLeadsService" id="RealLeads" name="RealLeads" importance="0" idealIdleSeconds="10" minimumLines="1" maximumLines="1" assembly="OrbisTel.Services.RealLeads, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
				<ReservedLines />
				<FileReferenceList />
				<Details>
					<Detail key="Prefix">Ottawa01</Detail>
					<Detail key="LocalAreaCode" value="613" >613</Detail>
					<Detail key="SMTP">smtp.primus.ca</Detail>
					<Detail key="Zone">0c7385a7-70a9-4ed6-ba97-62aed56bb9f3</Detail>
					<Detail key="ConnectionStringB" >Data Source=69.28.234.100\SQLExpress;Initial Catalog=Inaugura;Persist Security Info=True;User ID=realleads; PWD=B1wavG18;Connection Timeout=2</Detail>
					<Detail key="ConnectionString">Server=.;User ID=sa;PWD=B1wavG18;Initial Catalog=Inaugura;Persist Security Info=True;Timeout=2</Detail>
					<Detail key="LogOffCommand">*82#</Detail>
					<Detail key="LogOnCommand">*81,2222#</Detail>
				</Details>
			</Service>-->
		</Services>
	</ServiceManager>
	<TelephonyManager>
		<TelephonyHardware type="Inaugura.Telephony.Emulation.WindowsHardware" name="Windows Hardware" assembly="Inaugura.Telephony">
			<DisabledLines />
			<Details />
		</TelephonyHardware>
	</TelephonyManager>
	<Languages>
		<Language>English</Language>
	</Languages>
</Switch>